{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>

          As a passionate and driven individual with a background in computer science and engineering, I have always been deeply fascinated by the intersection of technology and human potential.
        </p>
        <p>
          Driven by a relentless curiosity and a desire to make a meaningful impact in the world of technology, I have actively pursued opportunities to explore cutting-edge domains such as artificial intelligence, machine learning, and natural language processing. Projects like the Voice-Based E-Mail System for Visually Challenged People, where I leveraged AI and NLP to empower individuals with disabilities, underscore my commitment to using technology as a force for positive change. Additionally, my involvement in projects like the Table Booking Website and the News Tracker Application reflects my proficiency in web development, data science, and database management.
        </p>
        <p>
          Beyond technical pursuits, I am deeply passionate about contributing to open-source projects, fostering a culture of collaboration, and continuously seeking avenues for personal and professional growth. With a keen interest in data virtualization, I am excited to explore innovative solutions that harness the power of data to drive informed decision-making and facilitate seamless connectivity in today's digital landscape. As I embark on this journey, I am eager to leverage my diverse skill set, unwavering determination, and a relentless pursuit of excellence to tackle challenges and push the boundaries of what's possible in the ever-evolving realm of technology.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
